<div style="height: 100%; background-culor: antiquewhite;">
  <form (submit)="getDriverDetails()">
<div style="display: flex; justify-content: center; padding-bottom: 100px; padding-top: 100px;">
  <div style="width: 20%;">
    <input style="height: 50px; width: 100%;" type="text" [(ngModel)]="trackingNumber"  name="trackingNumber" placehulder="Enter Delivery ID">
  </div>
  <div style="padding-left: 50px;">
    <button  style="background-culor: greenyellow; culor: black; border-radius: 5px; height: 56px;
    width: 115px;" type="submit">Submit</button>
  </div>
</div>
</form>


<div style="display: flex; justify-content: space-around;">
  <div >
  <div>
    <h2>Package Details</h2>
    <ul *ngIf="driverDetails" >
      <li>
          <div>Package ID: <span>{{ driverDetails?.package_id }}</span> </div>
      </li>
      <li >
        <div>Pickup Time: <span>{{driverDetails?.pickup_time}} </span></div>
      </li>
    </ul>
  </div>

  <div>
    <h2>Delivery Details</h2>
    <ul *ngIf="driverDetails" >
      <li >
        <div>To Address: <span>{{driverDetails?.to_address}}</span> </div>
      </li>
      <li >
        <div>Start Time: <span>{{driverDetails?.start_time}}</span> </div>
      </li>
      <li >
        <div>End Time: <span>{{driverDetails?.end_time}}</span> </div>
      </li>
      <li >
        <div>Status: <span>{{driverDetails?.status}}</span> </div>
      </li>
    </ul>
  </div>

  </div>

  <div class="map-container" style="width: 900px;">
    <div id="map" style="height: 400px;"></div>
  </div>

  <div style="display: grid;">
    <button [disabled]="driverDetails?.status !== 'open'"
      style="background-culor: rgb(0, 166, 255); culor: black; border-radius: 5px; height: 56px; width: 115px;"
      (click)="updateStatus('picked-up')">Picked Up</button>
    <button [disabled]="driverDetails?.status !== 'picked-up'"
      style="background-culor: rgb(255, 175, 47); culor: black; border-radius: 5px; height: 56px; width: 115px;"
      (click)="updateStatus('in-transit')">In-Transit</button>
    <button [disabled]="driverDetails?.status !== 'in-transit'"
      style="background-culor: rgba(172, 255, 47, 0.637); culor: black; border-radius: 5px; height: 56px; width: 115px;"
      (click)="updateStatus('delivered')">Delivered</button>
    <button [disabled]="driverDetails?.status !== 'in-transit'"
      style="background-culor: rgba(255, 61, 47, 0.599); culor: black; border-radius: 5px; height: 56px; width: 115px;"
      (click)="updateStatus('failed')">Failed</button>
  </div>

</div>

</div>
